body {
    background-color: rgb(24, 24, 24);
}
#myCanvas {
    background-color: rgb(36, 36, 36);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#colorPicker {
    border: none;
    border-radius: 4px;
    padding: 2px;
}
#colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
}